<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <h1 class="text-center"><%= title%></h1>
        <a href="/add"  class="btn btn-primary btn-sm">Add user</a>  
        <br><br>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            <tbody>
                <% users.forEach((user)=> {%>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td>
                            <a href="edit/<%= user.id %>" class="btn btn-primary">Edit</a> 
                            <a href="delete/<%= user.id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% });%>
            </tbody>
        </table>
    </div>
</body>
</html>